:root {
    --colorprime1: #1b242f;
    --colorprime2: #0f79af;
    --colorprime3: #7d838a;
    --colorprime4: #102e48;
    --colorprime5: #f0f9fc;
    --colorprime0: #010203;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {  
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: var(--colorprime1);
}

.container__header {
    background: linear-gradient(var(--colorprime1), var(--colorprime4));
    width: 100vw;
    min-height: 15rem;
    display: flex;
    justify-content: center;
}

.header {    
    color: var(--colorprime5);
    font-size: 1.8rem;
    height: auto;
    max-width: 840px;
    text-align: center;
}

.header h1 {
    margin: 1rem 2rem;    
}

.header p {
    padding: 1rem;
}

.main {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background: linear-gradient(var(--colorprime4), var(--colorprime1));
}

.catalogo {
    color: var(--colorprime2);    
    font-size: 2rem;
    max-width: 1024px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.catalogo h3 {
    margin-top: 2rem;
}

.catalogo--button {
    padding: 1rem;
    margin: 2rem;
    background-color: var(--colorprime2);
    color: var(--colorprime5);
    border-radius: 10px;
    border: solid var(--colorprime4) 1px;
    font-size: 2rem;    
}

.catalogo--form {
    max-width: 900px;    
    color: var(--colorprime5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 50px;
}

.catalogo--form--label {
    padding: 1.5rem;
    min-width: 17rem;    
}

.form--checkbox {
    margin-left: 1rem;
    width:15px;
    height:15px;    
    border-radius: 20px;
}

.catalogo__plataformas {
    list-style: none;
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--colorprime3);
    border-left: solid var(--colorprime2) 2px;
    border-right: solid var(--colorprime2) 2px;
}

.catalogo__plataformas li {
    padding: 1rem 3rem;    
}

.resultMostrar {
    padding: 2.5rem 5rem;
    background: radial-gradient(var(--colorprime1), var(--colorprime4));
    /* background: linear-gradient(var(--colorprime4), var(--colorprime0)); */
    color: var(--colorprime2);
    max-width: 600px;
    text-align: center;
    border-bottom: 5px solid var(--colorprime5);
    border-top: 3px solid var(--colorprime5);
    border-radius: 5px;
    
}

.resultMostrar--destacar {
    color: var(--colorprime5);
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem;
}

.footer {
    min-height: 4rem;
    width: 100vw;
    background: var(--colorprime1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2rem;
    color: var(--colorprime5);
    margin-top: auto;
}