:root {
    --color1 : #26272b;
    --color2: #9faace;
    --color3: #727787;
    --color4: #3d1e23;
    --color5: #6e4a4f;

    --gradient1 : #26272b;
    --gradient2: #2e4e60;
    --gradient3: #077d88;
    --gradient4: #29ac93;
    --gradient5: #88d783;
    --gradient6: #f9f871;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: var(--color1);
    color: var(--gradient6);
    font-size: 1.8rem;
    min-height: 15rem;
    max-width: 840px;
}

.header h1 {
    margin: 1rem 2rem;
    text-align: center;
}

.header p {
    padding: 1rem;
}

.catalogo {
    color: var(--gradient3);
    background-color: var(--color1);
    font-size: 2rem;
    max-width: 1024px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.catalogo h3 {
    margin-top: 2rem;
}

.catalogo--button {
    padding: 1rem;
    margin: 2rem;
    background-color: var(--color3);
    color: #000000;
    border-radius: 10px;
    border: solid #000000 1px;
    
}

.catalogo--form {
    max-width: 900px;
    color: var(--color5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.catalogo--form--div {
    padding: 1.5rem;
    min-width: 17rem;
}

.catalogo--form--div > input {
    margin-right: 1rem;
    background: silver;    
    font-size: 1.2rem;
}

.catalogo__plataformas {
    list-style: none;
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalogo__plataformas li {
    padding: 1rem 3rem;
}

.resultMostrar {
    padding: 2.5rem 5rem;
    background-color: var(--gradient2);
    color: var(--gradient5);
    max-width: 600px;
    text-align: center;
    border-radius: 100px;
}

.resultMostrar--destacar {
    color: var(--color3);
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem;
}