:root {
    --color0 : #000000;
    --color1 : #6155b3;
    --color5: #0075ff;
    --color6: #000b5a;

    --gradient1 : #5a959e;
    --gradient2: #00c2a1;
    --gradient3: #008b6d;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: var(--color0);
    color: var(--color1);
    font-size: 1.8rem;
    min-height: 15rem;
    max-width: 840px;
    text-align: center;
}

.header h1 {
    margin: 1rem 2rem;    
}

.header p {
    padding: 1rem;
}

.catalogo {
    color: var(--color1);
    background-color: var(--color0);
    font-size: 2rem;
    max-width: 1024px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.catalogo h3 {
    margin-top: 2rem;
}

.catalogo--button {
    padding: 1rem;
    margin: 2rem;
    background-color: var(--color5);
    color: var(--color6);
    border-radius: 10px;
    border: solid var(--color6) 1px;
    font-size: 2rem;    
}

.catalogo--form {
    max-width: 900px;
    color: var(--color1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.catalogo--form--div {
    padding: 1.5rem;
    min-width: 17rem;
}

.form--checkbox {
    margin-right: 1rem;
    width:25px;
    height:25px;    
    border-radius: 20px;
}

.catalogo__plataformas {
    list-style: none;
    display: flex;
    max-width: 600px;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--color1);
}

.catalogo__plataformas li {
    padding: 1rem 3rem;
}

.resultMostrar {
    padding: 2.5rem 5rem;
    background-color: var(--color0);
    color: var(--gradient3);
    max-width: 600px;
    text-align: center;
    border: 2px solid var(--gradient3);
    border-radius: 100px;
}

.resultMostrar--destacar {
    color: var(--gradient2);
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0.5rem;
}